<form #editAuthor="ngForm"(ngSubmit)="onSubmit()">
      <h5>Author</h5>
      <div>
      <input [(ngModel)]= "authorName"
                      name="authorName"> 
      </div>
        <button mat-raised-button color="primary" [disabled]>Submit</button>