<form (ngSubmit)="onSubmit()">
    <h2>{{buttonText}}</h2>
    <h5>Post Title</h5>
    <div>
      <input [(ngModel)]= "title"
                      name="title"> 
      </div>
      <div>
        <h5>Post Author</h5>
        <input [(ngModel)]= "author"
                        name="author"> 
        </div>
        <div>
            <h5>Post Body</h5>
            <input [(ngModel)]= "body"
                            name="body"> 
            </div>
        <button mat-raised-button color="primary" [disabled]>Submit</button>
</form>