<!--<button mat-raised-button color="primary" (click)="onSubmit()" [disabled]>Add New Post</button>
<div *ngIf = "check">{{PageTitle}}</div>-->
<button mat-raised-button color="primary" (click)="onSubmit()" [disabled]>Add New Post</button>
<mat-accordion>
    <!--<mat-expansion-panel *ngFor = "let post of posts$">-->
    <mat-expansion-panel *ngFor = "let post of postDb$|async">
      <mat-expansion-panel-header>
        <mat-panel-title>
           <!-- <div *ngFor = "let user of users$">
                <div *ngIf = "user.id == post.userId"> Author: {{user.name}}</div>
                </div>-->
             Title: {{post.title}} Author: {{post.author}} 
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{post.body}}
      <button mat-raised-button color="primary" [routerLink]="'/postform/' + post.id" [disabled]>Update Post</button>
      <button mat-raised-button color="primary" (click)="deletePost(post.id)" [disabled]>Delete Post</button>
    </mat-expansion-panel>
</mat-accordion>