<mat-selection-list #author>
    <mat-list-option *ngFor="let author of authors$ |async">{{author.name}}
      <!--  <div *ngIf = "authorId!=author.id;else newauthor">
      </div> <a href="editauthor/{{author.name}}/{{author.id}}"routerLinkActive="active">Edit author</a>
    <ng-template #newauthor>{{authorName}}</ng-template>-->

</mat-list-option>
  </mat-selection-list>
  <form (ngSubmit)="onSubmit()">
      <h5>Add New Author</h5>
      <div>
        <input [(ngModel)]= "newAuthor"
                        name="newAuthor"> 
        </div>
          <button mat-raised-button color="primary" [disabled]>Submit</button>
  </form>